<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>결제 요청</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>

    <style>
        #mask {
            position: absolute;
            background-color: #000;
            display: none;
            width: 100%;
            height: 100%;
            z-index: 9000;
        }
        .window {
            display: none;
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: 10000;
        }
    </style>
</head>

<body>
<script>
    var url = "https://pgapi.korpay.com";

    $(function () {
        $("#payBtn").click(function () {
            if ($("input[name=id]").val() === "") {
                alert("결제 방법을 선택하세요.");
                return;
            }

            $("#mask").fadeIn(0).fadeTo("slow", 0.6);
            document.payInit.action = url + "/payInit_hash.korpay";
            document.payInit.submit();
            $(".window").show();
        });

        window.addEventListener("message", returnData, false);
    });

    function returnData(e) {
        if (e.data !== "") {
            const div = document.createElement("div");
            div.innerHTML = e.data;
            document.body.appendChild(div);
            document.transRslt.submit();
        }
        $("#mask, .window").hide();
        $("#pay_frame").attr("src", "");
    }
</script>

<form name="payInit" method="post" target="pay_frame">
    <input type="hidden" name="ediDate" value="{{ edi_date }}">
    <input type="hidden" name="hashStr" value="{{ hash_string }}">
    <input type="hidden" name="id" value="{{ merchant_id }}">
    <input type="hidden" name="payMethod" value="card">
    <input type="hidden" name="returnUrl" value="{{ return_url }}">

    <table>
        <tr>
            <td>상품명</td>
            <td><input type="text" name="goodsName" value="{{ goods_name }}"></td>
        </tr>
        <tr>
            <td>주문번호</td>
            <td><input type="text" name="orderNo" value="{{ moid }}"></td>
        </tr>
        <tr>
            <td>결제금액</td>
            <td><input type="text" name="amt" value="{{ price }}"></td>
        </tr>
        <tr>
            <td>구매자명</td>
            <td><input type="text" name="buyerName" value="{{ buyer_name }}"></td>
        </tr>
        <tr>
            <td>전화번호</td>
            <td><input type="text" name="buyerTel" value="{{ buyer_tel }}"></td>
        </tr>
        <tr>
            <td>이메일</td>
            <td><input type="text" name="buyerEmail" value="{{ buyer_email }}"></td>
        </tr>
    </table>
</form>

<a href="#" id="payBtn">결제하기</a>

<div id="mask"></div>
<div class="window">
    <iframe name="pay_frame" style="width:100%; height:100%" frameborder="0"></iframe>
</div>
</body>
</html>
